.container_education{
    margin:auto 0.5rem;
    /* background-color: pink; */
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume-container {
    font-family: 'Arial', sans-serif;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Added position relative for positioning vertical lines */
    animation: fadeIn 1s ease-in-out; /* Fade in animation */
  }
  
  .education-section {
    background-color: #d9f2d9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative; /* Added position relative for positioning vertical lines */
  }
  
  .experience-section {
    background-color: #f2d9d9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative; /* Added position relative for positioning vertical lines */
  }
  
  .vertical-line {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #ccc; /* Color of the vertical lines */
    left: 50%; /* Position the line in the center */
    transform: translateX(-50%); /* Center the line */
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out; /* Fade in and slide up animation */
  }
  
  strong {
    font-weight: bold;
  }
  
  p {
    margin: 5px 0;
  }
  
  /* Animation Keyframes */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .resume-container {
      max-width: 100%;
    }
  }
        
