/* Projects.css */

.projects {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
.projectheading{
    background-color: #777;
    width: auto;
    height: 70px;
    /* margin-top: 10px; */
    color: white;
    display: flex;
    justify-content: center;
}
  
  .project-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;
    /* width: 50%; */
    margin-top: 20px;
    flex: 1;
  }
  
  /* .project-card:hover {
    transform: translateY(-5px);
  } */
  
  .project-card h3 {
    margin: 0;
    padding: 10px;
    font-size: 20px;
  }
  
  .project-card p {
    margin: 0;
    padding: 10px;
    font-size: 16px;
  }
  .project_images{
    width: 50%;
    height: 20%;
    margin-left: 300px;
  }
  @media (max-width: 500px) {
    .projects {
      /* grid-template-columns: 1fr; */
      width: 100%;
      padding: 0;
    }
    .project_images{
      width: 50%;
      height: 20%;
      margin-left: auto;
    }
    .projectheading,
    .project-card{
      width: 100%;
    }
  }
  